.logs {
  min-height: 300px;
  max-height: 600px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-right: 10px;
}

.logs span:nth-child(2n) {
  background-color: rgb(235, 235, 235);
}
