.skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-container .skill {
  cursor: pointer;
}

.skillset {
  background-color: #391400;
  padding: 10px 15px;
  border-radius: 15px;
  outline: 3px solid black;
}

.skills>* {
  min-width: 30%;
  flex-grow: 1;
}

.skill-frame {
  background-image: url("../img/skill/skillSlot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.skill-frame>.skill {
  padding-top: 5px;
}

.phy-container {
  position: relative;
  top: 0;
  left: 0;
}

.phy-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(100% / 2 + 27.5px);
  width: 20px;
  height: 26px;
  background-image: url("../img/skill/phyIndicator.png");
  background-repeat: no-repeat;
}

.skillset-number {
  width: 40%;
}

.pet-skillset {
  background-color: #e9a55f;
  padding: 10px 15px;
  border-radius: 15px;
  outline: 3px solid black;
  max-width: 360px;
}

.pet-skill-frame {
  background-image: url("../img/petHouse/ji-9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.pet-skill-frame.unused {
  background-image: url("../img/petHouse/bet-lock.png");
}

.pet-skill-frame>img {
  width: 70%;
  height: 70%;
  margin-top: 10px;
  cursor: pointer;
}

.locked {
  position: relative;
}

.locked::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 26px;
  background-image: url("../img/petHouse/suo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
